@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Inter", sans-serif;
  overscroll-behavior-y: none;
  letter-spacing: -0.03em;
  scroll-behavior: smooth;
}

@layer components {
  .filterTag {
    @apply dark:text-white text-prevalentText cursor-pointer font-medium py-[1em] lg:py-[.8em] text-[14px] px-[.5em];
  }
  .filterButton {
    @apply bg-digiftGray w-auto dark:bg-toogleBgDark dark:text-white text-prevalentText cursor-pointer font-medium py-[1em] lg:py-[.8em] text-[14px] px-[1em] rounded-full;
  }
  .filterButtonActive {
    @apply bg-digiftBrandBlue text-white font-medium py-[1em] lg:py-[.8em] text-[14px] px-[1em] rounded-full
  }
  .footerLink {
    @apply text-[14px] font-medium max-w-[95%] text-ellipsis mt-[2vh] text-prevalentText dark:text-gray-300 leading-[2] cursor-pointer;
  }
}
